<!DOCTYPE html>
<html>  
<head>
	<meta charset="UTF-8">
	<title>Аккордеон из хабра</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<section class="ac-container">
		<div>
			<input type="radio" id="ac-1" name="accordion-1" checked>
			<label for="ac-1">О нас</label>
			<article>
				<p>Какой-нибудь замечательный текст...</p>
			</article>
		</div>
		<div>
			<input type="radio" id="ac-2" name="accordion-1">
			<label for="ac-2">Услуги</label>
			<article>
				<p>Какой-нибудь замечательный текст...</p>
			</article>
		</div>
		<div>
			<input type="radio" id="ac-3" name="accordion-1">
			<label for="ac-3">Портфолио</label>
			<article>
				<p>Какой-нибудь замечательный текст...</p>
			</article>
		</div>
		<div>
			<input type="radio" id="ac-4" name="accordion-1">
			<label for="ac-4">Контакты</label>
			<article>
				<p>Какой-нибудь замечательный текст...</p>
			</article>
		</div>
	</section> <!-- ac-container -->				


		
	<script src="js/main.js"></script>
	</body>
</html>