<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>Easy Tabs</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		
	</head>
	<body>
		
		<div class="container">

		<div id="tab-container" class="tab-container">
			<ul class="nav navbar-nav">
				<li class="tab"><a href="#tab-1">Tab 1</a></li>
				<li class="tab"><a href="#tab-2">Tab 2</a></li>
				<li class="tab"><a href="#tab-3">Tab 3</a></li>
				<li class="tab"><a href="#tab-4">Tab 4</a></li>
			</ul>
			
			<div class="clearfix"></div>
			
			<div class="tab-content">
				<div id="tab-1"><p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</p></div>
				<div id="tab-2"><p>На берегу имени приставка заглавных пояс семантика свою бросил живет путь.</p></div>
				<div id="tab-3"><p>Свой агенство вопрос, букв взгляд это. Напоивший своих своего дорогу!</p></div>
				<div id="tab-4"><p>Которой свое своего сих власти точках свой щеке продолжил, все.</p></div>
			</div>
		</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.easytabs/3.2.0/jquery.easytabs.min.js"></script>
		<script src="main.js"></script>
	</body>
</html>