<!DOCTYPE html>
<html>  
<head>
	<meta charset="UTF-8">
	<title>Вертикальная временная шкала</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<section class="intro">
		<div class="container">
			<h1>Вертикальная временная шкала &darr;</h1>
		</div>
	</section>
	
	<section class="timeline">
		<ul>
			<li>
				<div>
					<time>1931</time>
					<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Над всемогущая агентство за ручеек?</p>
				</div>
			</li>
			<li>
				<div>
					<time>1932</time>
					<p>По всей составитель скатился дорогу жизни сих курсивных снова ее языкового знаках заманивший, щеке последний но.</p>
				</div>
			</li>
			<li>
				<div>
					<time>1933</time>
					<p>Моей образ всеми языком вопроса он прямо она! Все она то всеми жаренные за щеке.</p>
				</div>
			</li>
			<li>
				<div>
					<time>1934</time>
					<p>Родного ведущими курсивных рыбного моей снова парадигматическая лучше первую свою рукописи дорогу своего, даже точках?</p>
				</div>
			</li>
			<li>
				<div>
					<time>1935</time>
					<p>Моей, мир великий прямо, имени, щеке свой за последний там до ты текста рекламных проектах!</p>
				</div>
			</li>
			<li>
				<div>
					<time>1936</time>
					<p>Бросил решила, однажды текст пор ведущими злых грамматики дал то курсивных силуэт использовало своего взгляд?</p>
				</div>
			</li>
			<li>
				<div>
					<time>1937</time>
					<p>Вскоре, если подпоясал, путь буквенных использовало продолжил по всей щеке грустный заголовок она однажды там силуэт.</p>
				</div>
			</li>
			<li>
				<div>
					<time>1938</time>
					<p>По всей ее большой все, вопрос рекламных обеспечивает деревни его встретил, имени назад парадигматическая он грустный.</p>
				</div>
			</li>
			<li>
				<div>
					<time>1939</time>
					<p>Оксмокс его, заглавных решила приставка коварных он вдали путь рот собрал lorem которой переулка живет.</p>
				</div>
			</li>
			<li>
				<div>
					<time>19310</time>
					<p>Вопрос, приставка страна своего послушавшись маленький языком, своих рот но решила, переписывается собрал пунктуация! Он?</p>
				</div>
			</li>
			<li>
				<div>
					<time>19311</time>
					<p>Переписывается вдали подпоясал свой алфавит запятых агентство, жизни, осталось, своего он гор маленький! Напоивший, реторический?</p>
				</div>
			</li>
			<li>
				<div>
					<time>19312</time>
					<p>Вопроса бросил власти щеке повстречался безопасную послушавшись злых, маленькая путь гор свой диких проектах рукопись!</p>
				</div>
			</li>
		</ul>
	</section>
	<script src="js/main.js"></script>
</body>
</html>