<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>Гамбургер меню</title>
		<link rel="stylesheet" type="text/css" href="main.css">
		<!-- <link rel="stylesheet" type="text/css" href="second.css"> -->
	</head>
	<body>
		<!-- <nav class="hamburger">  -->
		<ul class="navigation">
			<li class="nav-item"><a href="#">Home</a></li>
			<li class="nav-item"><a href="#">Porfolio</a></li>
			<li class="nav-item"><a href="#">About</a></li>
			<li class="nav-item"><a href="#">Blog</a></li>
			<li class="nav-item"><a href="#">Contact</a></li>
		</ul>
		<input type="checkbox" id="nav-trigger" class="nav-trigger">
		<label for="nav-trigger"></label>
	<!-- </nav>  -->
	<div class="site-wrap">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, molestias repellendus! Assumenda suscipit velit, est provident odit rerum doloribus aspernatur natus modi odio atque dolore saepe ea doloremque iure, iste blanditiis. Delectus ea eius cum fugit facilis temporibus minima voluptates dignissimos, in nesciunt non at impedit aliquam nulla, hic tempore.</p>
		<p>Explicabo veniam fugit sint porro accusantium voluptatibus nam animi, tempore commodi nihil a. Fugiat saepe, deserunt, cupiditate libero, tempore architecto natus corporis porro a nostrum eveniet est quisquam ut delectus omnis! Ad aliquam, dolorem quod. Quidem assumenda amet, officia praesentium magnam eligendi deserunt ad quia facilis voluptas at officiis quibusdam?</p>
		<p>Voluptas, explicabo dolorem qui, ab earum odio error quam dolor repudiandae! Beatae dolore cum temporibus, nam eligendi harum deleniti quia esse vero dolores! Ducimus expedita, rem numquam eius impedit consequatur iusto nostrum soluta nihil reiciendis ullam modi laudantium eos similique veniam aperiam magni voluptate, nulla? Maiores harum incidunt, optio. Nobis.</p>
		<p>Dicta alias harum amet. Repellendus ut, dolores nisi. Eligendi quidem earum reiciendis dicta, saepe repellendus aliquid officiis distinctio omnis voluptates? Assumenda error reprehenderit quos ut, libero quae fuga soluta eos sint ipsam. Veritatis neque, esse asperiores, porro quam, laboriosam a nesciunt omnis molestias consectetur beatae, consequatur est similique placeat iste.</p>
		<p>Qui perferendis, eum ducimus veritatis quae debitis aut sed, amet accusantium delectus nostrum architecto, nisi eos. Voluptate consequatur accusantium enim ex aliquam ducimus, officiis, illo sit delectus ut veritatis molestiae quod odio, vel. Quasi at quidem hic maxime eos optio quod nesciunt non esse. Autem consequatur perspiciatis fugiat hic id.</p>
		<p>Eveniet magni repudiandae, voluptate molestiae, dolores, nobis eaque in dicta, quis suscipit commodi. Temporibus odit quisquam, deleniti error perferendis sunt adipisci optio nihil, harum provident ad consequatur. Iure consequuntur cum mollitia blanditiis distinctio assumenda numquam maxime aspernatur fuga. Laborum sunt, vitae quam nemo odit laboriosam voluptas accusamus officiis eveniet suscipit.</p>
		<p>Similique molestias cum sed eaque numquam tempora odit harum, eum velit saepe in illum animi dicta sapiente repudiandae nisi doloribus accusantium labore provident reprehenderit aspernatur illo est tenetur reiciendis. Odio laudantium cum nostrum numquam dolorum fugiat, aut ipsum consequatur minus modi, qui itaque in dolores dolorem iste, quisquam harum at.</p>
		<p>Aspernatur, repudiandae, quaerat ullam debitis odit possimus, reprehenderit molestiae recusandae, natus perferendis tempora incidunt laboriosam consectetur sit alias corrupti tenetur sed itaque illo fuga dolor! Minima dolorem, sit aspernatur consectetur modi incidunt sint, tenetur quod amet ab, vero quam neque eius nemo ducimus, aliquid cumque facilis temporibus hic dolor accusamus!</p>
		<p>Laborum, magni aut asperiores similique magnam blanditiis repudiandae quae? Quod inventore, nihil labore quae in repellat officia ipsum exercitationem earum quo error perspiciatis facilis nulla laborum accusamus delectus doloribus dicta cupiditate dolorem consequatur explicabo omnis ea at excepturi vero. Iusto tenetur nemo velit ad voluptatem, ut impedit dignissimos ratione hic.</p>
		<p>Consequatur dolorum similique voluptate nobis at aliquid corporis autem quos delectus necessitatibus, fugiat officia quasi inventore perferendis! Perspiciatis quibusdam velit praesentium molestias, quisquam odit. Aliquam nobis harum, ea, blanditiis rem fuga ex eligendi esse qui, quis hic! Quo, eaque, omnis. Alias quam mollitia qui at optio, maiores! Rem, earum, minima!</p>
	</div>
	
	<script src="main.js"></script>
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
	
</body>
</html>