<!DOCTYPE html>
<html>  
<head>
	<meta charset="UTF-8">
	<title>Отзывчивые табы</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<section class="tabs">
		<input type="radio" id="tab1" name="tabs" checked>
		<label for="tab1" title="Вкладка-1">Вкладка - 1</label>
		
		<input type="radio" id="tab2" name="tabs">
		<label for="tab2" title="Вкладка-2">Вкладка - 2</label>
		
		<input type="radio" id="tab3" name="tabs">
		<label for="tab3" title="Вкладка-3">Вкладка - 3</label>
		
		<input type="radio" id="tab4" name="tabs">
		<label for="tab4" title="Вкладка-4">Вкладка - 4</label>		

		<section id="content-tab1">
			<p>Какой-то текст для таб-1 ...</p>
		</section>
		<section id="content-tab2">
			<p>Какой-то текст для таб-2 ...</p>
		</section>
		<section id="content-tab3">
			<p>Какой-то текст для таб-3 ...</p>
		</section>
		<section id="content-tab4">
			<p>Какой-то текст для таб-4 ...</p>
		</section>	
	</section> <!-- /tabs -->

</body>
</html>