<!DOCTYPE html>
<html lang="ru">  
	<head>
		<meta charset="UTF-8">
		<title>Гамбургер меню</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
	</head>
	<body>
		
		<nav>
		 	<ul class="nav">
		 		<div class="icon">&#9776;</div>
		 		<div class="items">
		 			<li><a href="#">Главная</a></li>
		 			<li><a href="#">Категории</a></li>
		 			<li><a href="#">О сайте</a></li>
		 			<li><a href="#">Контакт</a></li>
		 		</div>
		 	</ul>
		 </nav> 	

<div class="content">
  <h2>Responsive Dropdown Menu - resize the window to see it in action</h2>
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justoolor sit amet.
</div>
		<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="js.js"></script>

		<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
			 
		</body>
	</html>