<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>Шаблон</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<nav class="menu">
			<ul class="active">
				<li><a href="#">text-1</a></li>
				<li><a href="#">text-2</a></li>
				<li><a href="#">text-3</a></li>
				<li><a href="#">text-4</a></li>
				<li><a href="#">text-5</a></li>
			</ul>
			<section class="toggle-nav">
				<span class="hamburger">&#9776</span>
				<span class="cross">&#9747</span>
			</section>
		</nav> 
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
		<script src="js.js"></script>
		<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
		
	</body>
</html>