<!DOCTYPE HTML>
<html>

<head>
  <style>
    #field {
      width: 200px;
      border: 10px groove black;
      background-color: #00FF00;
      position: relative;
    }

    #ball {
      position: absolute;
    }
  </style>
</head>

<body>


  <div id="field">
    <img src="https://js.cx/clipart/ball.svg" width="40" height="40" id="ball"> . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
    . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
  </div>


  <script>
    var ball = document.getElementById('ball')
    var field = document.getElementById('field')

    // ball.offsetWidth=0 before image loaded!
    // to fix: set width
    ball.style.left = Math.round(field.clientWidth / 2 - ball.offsetWidth / 2) + 'px'
    ball.style.top = Math.round(field.clientHeight / 2 - ball.offsetHeight / 2) + 'px';
    
    var forward = true;
    
    setInterval(function () {
      if(forward) {
        ball.style.left = parseInt(ball.style.left, 10) + 10 + 'px';
        
        if(parseInt(ball.style.left, 10) >= (field.clientWidth - ball.offsetWidth)) forward=false;
        
      }else {
        ball.style.left = parseInt(ball.style.left, 10) - 10 + 'px';
        
        if(parseInt(ball.style.left, 10) <= 0) forward=true;
      }
    }, 100)
    
    
  </script>


</body>

</html> 
